html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@mixin flex{
  display: flex;
  justify-content: center;
  align-items: centers;
}
html{
  background-color: rgba(0, 0, 0, 0.925);
}
#root{
  margin: 1rem auto;
  height: 100vh;
  width: 450px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;

  background-color: white;
  overflow: auto;
}
.top{
  text-align: center;
  h1{
    font-weight: 700;
    font-size: 40px
  }
  p{
    margin-top: 2rem;
    margin-bottom: 0;
    color: grey

  }


}

.card{
  @include flex();
  height: 240px;
  width: 400px;
  background: linear-gradient(248.04deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 99.07%), #b3b3b3;;
  margin: 1rem;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: space-between; 
  border-radius: 8px;
  box-shadow: 0 0.5em 0.5em -0.4em gray;


 .card-svg{
  padding: 1rem;
  padding-top: 0;
    @include flex();
    justify-content: space-between;

  }
  .cardNumber{
    text-align: center;
    font-size: 2rem;

    font-weight: 600
    
  }
  .cardDetail{
    @include flex();
    justify-content: space-between;
    span{
      font-weight: 800

    }
    p{
      font-weight: 300;
      font-size: 0.7rem;
    }
  }

}
.card-form{

  padding: 1rem;
  input {
    display: block;
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid gray;
  }
  select{
    width: 410px;
    height: 60px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;



  }
  label{
    display: block;
    padding: 5px;
    margin: 5px;
  }
  @include flex();
  flex-direction: column;

.two{
  display: flex;
  justify-content: space-between;
  input{
    width: 160px;
  }
 
 
}
button{
  width: 90%;
  height: 55px;
  margin: 1rem;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
}



}
.blockchain{
  background: linear-gradient(248.3deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #222222;
  color: white;
}
.evil{
  background: linear-gradient(248.3deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0) 100%), #F33355;
  color: white;

}
.ninja{
  background: linear-gradient(248.52deg, rgba(0, 0, 0, 0.15) 1.49%, rgba(0, 0, 0, 0) 100%), #8B58F9;
  color: white;
}
.bitcoin{
  background:linear-gradient(248.04deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 99.07%), #FFAE34;
}

.interactiv{
  transition: color 0.3s,transform 0.1s;

&:hover{
  transform: translateY(-0.25em);
  cursor: pointer;
}
}
button {
  width: 90%;
  height: 55px;
  margin: 1rem;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
}
.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}


input:hover{
  cursor: pointer;
}